{% extends "bootstrap/base.html" %}
{% block title %}{{config.get('TITLE')}}{% endblock %}

{% block navbar %}
<div class="navbar container">
<div class="navbar-header">
    <a class="navbar-brand" href="/">
    <img alt="Brand" src="https://placehold.co/150x50?text=BLOG">
    </a>
</div>
</div>
{% endblock %}
